images/Age related Macular Degeneration/*
images/Cataract/*
images/Diabetes/*
images/Glaucoma/*
images/Hypertension/*
images/Myopia/*
images/Normal/*
images/Other diseases/*
assets/model/*
notebook/mymodel.h5
notebook/.ipynb_checkpoints/